---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Pavimentos Urbanos Spa">
	<div class="h-300 bg-white">
		<h1>Inicio</h1>
		<Icon name="download" size={50} />
	</div>
</Layout>
